@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].NewsTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsArticle[0].Tags)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NewsArticle)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy.AccountName)
                </td>
                <td>
                    @foreach (var tag in item.Tags)
                    {
                        @Html.DisplayFor(modelItem => tag.TagName) <br />
                    }
                </td>
                <td>
                    <a asp-page="/NewsArticles/Details" asp-route-id="@item.NewsArticleId">Details</a> |

                </td>
            </tr>
        }
    </tbody>
</table>
